@config "../tailwind.config.js";
@import "tailwindcss/preflight";
@import "tailwindcss/theme";
@import "tailwindcss/utilities";


a {
    text-decoration: none;
    color: inherit;
}

ol,
ul,
li {
    list-style: none;
}

img {
    max-width: 100%;
}

.active {
    color: #0677E8;
}


.hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}